---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.search-content .search-input {
  font-size: 1.5em;

  @include breakpoint($medium) {
    font-size: 2.0em;
  }

  @include breakpoint($large) {
    font-size: 2.5em;
  }
}
